h1{
  color: red;
  border: 30px solid blue;
  background-color: black;
  box-shadow:5px 10px 15px;
  text-align: center;
  font-size: 35px;
  margin-top: 2px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
  background-color: black;
  border: 2px solid black;
  border-radius: 2px;
}
ul>li a{
  color:blue;
  font-family: sans-serif;
  text-decoration: none;
}
/* nav ul> li a{
  color: blue;
}
nav li{
  margin: 10px;
} */
 main>ol li{
  color: darkred;
  font-size: 25px;
 }
 main>p{
  font-size: 20px;
 }
 body{
  background-color:lightgreen;
 }
 a:hover{
  color: white;
  font-weight: bold;
 }
